<% content_for :head do %>
  <title>Australian Ninjutsu Academy</title>
<% end%>

<header>
	<div class="panel-1">
		<h1>Australian Ninjutsu Academy</h1>
	</div>
	<div class="panel-2">
		<h2 class="title-1">
			The Australian Ninjutsu Academy is dedicated to the study of nine schools of ancient martial arts known as Bujinkan Budo Taijutsu.
		</h2>
	</div>
</header>

<section class="panel-3">
	<div class="figure-1">
		<img src="" />
		<div class="copy">
			<h2 class="title-2">Kincumber High School</h2>
			<p>Bungoona Road, Kincumber NSW 2251, Australia</p>
			<p><strong>Tuesday 7:00pm - 8:30pm</strong></p>
		</div>
	</div>
	<div class="figure-1">
		<img src="" />
		<div class="copy">
			<h2 class="title-2">Killarney Vale</h2>
			<p>Bungoona Road, Kincumber NSW 2251, Australia</p>
			<p><strong>Monday 7:00pm - 8:30pm</strong></p>
		</div>
	</div>
	<div class="figure-1">
		<img src="" />
		<div class="copy">
			<h2 class="title-2">Newcastle</h2>
			<p>Bungoona Road, Kincumber NSW 2251, Australia</p>
			<p><strong>Wednesday 7:30pm - 9:00pm</strong></p>
		</div>
	</div>
</section>

<section class="panel-4">
	<header>
		<h2 class="title-1">About the Academy</h2>
		<p>
			The study of Ninjutsu is essentially the study of self preservation, perserverance and endurance over all obstacles, incorporating the preservation and continual refinement of the body, mind and spirit.
		</p>
	</header>
	<div class="copy">
		<p>
			The Australian Ninjutsu Academy is headed by 10th Dan Shihan Michael Tattoli. Shihan Tattoli has contributed a vast amount of time and energy into the art which has seen him grow as Australia’s premier Ninjutsu instructor.
		</p>
			Being part of a martial arts system that is unique and respected world wide, the Australian Ninjutsu Academy maintain the high standards set by Grandmaster Hatsumi and followed by Shihan Tattoli. The school produces martial artists who are respected citizen in our society and who contribute to their communities.
		</p>
		<p>
			Each class is instructed by experienced practitioners who possess Shihan Tattoli’s full confidence and trust.
	 	</p>
	</div>
</section>

<footer class="panel-5">
	<p class="title-1">contact@bujinkanaustralia.com</p>
	<p class="text-1">© 2012 Australian Ninjutsu Academy</p>
</footer>